<table>
  <thead>
    <tr>
      <th>{{localize "DND5E.AbilityScore"}}</th>
      <th>{{"Base"}}</th>
      {{#each advancements as |a|}}
      <th class="ability-number">{{a.label}}</th>
      {{/each}}
      <th class="ability-number">{{"Ability Total"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each abilities as |value key|}}
    <tr>
      <td>{{value.label}}</td>
      <td>{{numberInput value.base name=(concat "system.abilities." key ".value") max=value.max min=value.min}}</td>
      {{#each value.advancements as |bonus|}}
      {{#if bonus}} <td class="ability-number">{{numberFormat bonus sign=true}}</td>
      {{else}} <td class="ability-number"></td>
      {{/if}}
      {{/each}}
      <td class="ability-number">{{value.total}} ({{numberFormat value.modifier sign=true}})</td>
    </tr>
    {{/each}}
  </tbody>
</table>
